firstgit/src/main/mule/firstgit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c3ee2559-65d2-415e-8b90-8be4d431bade" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="firstgitFlow" doc:id="3df1d996-f1cb-45d3-94a9-a99a44bc0cc1" >
		<http:listener doc:name="Listener" doc:id="14e36d28-5bf7-401d-a50c-53b5c33b8979" config-ref="HTTP_Listener_config" path="git"/>
		<set-payload value="#['git']" doc:name="Set Payload" doc:id="5441cdbc-d053-47a3-8cf7-026f1bcbe2df" />
		<logger level="INFO" doc:name="Logger" doc:id="3493643f-b007-4a63-aa44-03cc67a1143a" message="git"/>
	</flow>
</mule>
